h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.sheet {
    position: relative;
}

#taloyhtio {
	position: absolute;
	top: 4cm;
	left: 1.5cm;
	width: 8.9cm;
	border: 1px solid black;
}

#vuokralainen {
	position: absolute;
	top: 4cm;
	right: 1.5cm;
	width: 8.9cm;
	border: 1px solid black;	
}

#erehdot {
	position: absolute;
	top: 8.1cm;
	left: 1.5cm;
	width: 17.95cm;
	border: 1px solid black;		
}

#lisatiedot {
	position: absolute;
	top: 10.4cm;
	left: 1.5cm;
	width: 17.95cm;
	border: 1px solid black;		
}

.smallprint {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;	
}

#sopimusehdot {
	position: absolute;
	top: 11.8cm;
	left: 1.5cm;
	width: 17.95cm;
	border: 1px solid black;		
}

#tyontekija {
	position: absolute;
	top: 23.4cm;
	left: 1.5cm;
	width: 8.9cm;
	border: 1px solid black;		
}

#vuokr {
	position: absolute;
	top: 23.4cm;
	right: 1.5cm;
	width: 8.9cm;
	border: 1px solid black;		
}

#pvm {
	position: absolute;
	top: 21.4cm;
	right: 1.5cm;
	width: 17.95cm;
	border: 1px solid black;		
}

#allek {
	position: absolute;
	top: 19.6cm;
	right: 1.5cm;
	width: 17.95cm;		
}
